<!DOCTYPE html>
<html class="no-js" ng-app="app">>
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Vet</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.css">
   <link rel="stylesheet" href="css/main.css">

   <!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

  <!-- Angular
	================================================== -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria.min.js"></script>

    <!-- Angular Material
  	================================================== -->
    <script src="js/lib/angular-material.min.js"></script>
    <link rel="stylesheet" href="css/angular-material.min.css">

    <!-- JQuery
   ==================================================  -->
   <script src="js/lib/jquery.min.js"></script>

   <!-- Bootstrap
  Tether - Dependência obrigatória do Bootstrap
  	==================================================-->
    <script src="js/lib/tether.min.js"></script>
    <link rel="stylesheet" href="css/tether.min.css">

    <!-- App
  	==================================================-->
    <script src="js/app.js"></script>
    <script src="js/router/route.js"></script>
    <script src="js/router/state.js"></script>
    <script src="js/interceptor/conectionRefused.js"></script>

    <!-- Controller
  	==================================================-->
  <script src="js/controller/propriedadeController.js"></script>
    <script src="js/controller/animalController.js"></script>
    <script src="js/controller/fazendaInteressadaController.js"></script>
    <script src="js/controller/loginController.js"></script>


    <!-- Service
  	==================================================-->
    <script src="js/service/propriedadeService.js"></script>
    <script src="js/service/animalService.js"></script>
    <script src="js/service/fazendaInteressadaService.js"></script>
    <script src="js/service/loginService.js"></script>


</head>

<body id="top">

	<!-- header
   ================================================== -->
   <header>

   	<div class="header-logo">
	      <a href="index.html">Vet</a>
	   </div>

		<a id="header-menu-trigger" href="#0">
		 	<span class="header-menu-text">Menu</span>
		  	<span class="header-menu-icon"></span>
		</a>

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Fechar</span></a>

	   	<h3>Vet</h3>

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
				<li><a class="smoothscroll" href="#about" title="">Sobre</a></li>
				<li><a class="smoothscroll" href="#services" title="">Serviços</a></li>
				<li><a class="smoothscroll" href="#contact" title="">Contato</a></li>
        <li><a href="login.html">Login Veterinário</a></li>
			</ul>

			<ul class="header-social-list">
	         <li>
	         	<a href="#"><i class="fa fa-facebook-square"></i></a>
	         </li>
	         <li>
	         	<a href="#"><i class="fa fa-twitter"></i></a>
	         </li>
	         <li>
	         	<a href="#"><i class="fa fa-instagram"></i></a>
	         </li>
            <li>
            	<a href="#"><i class="fa fa-behance"></i></a>
            </li>
	         <li>
	         	<a href="#"><i class="fa fa-dribbble"></i></a>
	         </li>
	      </ul>

		</nav>  <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->


   <!-- home
   ================================================== -->
   <section id="home">

   	<div class="overlay"></div>

   	<div class="home-content-table">
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">


				  			<h1 class="animate-intro">
							Olá!  <br>
							Somos o Vet
				  			</h1>
                            <h3 class="animate-intro">O ajudante Veterinário</h3>

				  			<div class="more animate-intro">
				  				<a class="smoothscroll button stroke" href="#about">
				  					Saiba Mais
				  				</a>
				  			</div>

			  		</div> <!-- end col-twelve -->
		   	</div> <!-- end row -->
		   </div> <!-- end home-content-tablecell -->
		</div> <!-- end home-content-table -->



		<div class="scrolldown">
			<a href="#about" class="scroll-icon smoothscroll">
		   	Descer
		   	<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			</a>
		</div>

   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

   	<div class="row about-wrap">
   		<div class="col-full">

   			<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">Sobre Nós</h3>
	   			<p class="lead animate-this"> Nosso objetivo é o auxílio no controle
sanitário, reprodutivo e cadastral
dos animais de grande porte.</p>
				</div>

   		</div> <!-- end col-full  -->
   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->


   <!-- about
   ================================================== -->
   <section id="services">

   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>

   	<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-full">

   				<h3>Serviços</h3>
   			   <h1>O que Fazemos.</h1>

   			   <p class="lead"> O aplicativo irá cadastrar os animais das fazendas que o veterinário cuida, contendo as informações de cada animal separadamente ao cadastrá-los, o veterinário então terá informações como controle sanitário, reprodutivo e ficha individual de cada animal e então terá um agendamento das atividades a serem realizadas  por ele na fazenda. </p>

   	   </div> <!-- end col-full -->
   	</div> <!-- end row -->

   	<div class="row services-content">

   		<div class="services-list block-1-2 block-tab-full group">

	      	<div class="bgrid service-item animate-this">

	      		<span class="icon"><i class="icon-desktop"></i></span>

	            <div class="service-content">
	            	<h3 class="h05">Temos suporte desktop</h3>

		            <p> Nós administramos o seu gado cuidadosamente, visando a boa saúde e lucratividade para nosso cliente. Damos as ferramentas para uma gestão qualificada de seus animais.
	         		</p>
	         	</div>

				</div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-mobile"></i></span>

	            <div class="service-content">
	            	<h3 class="h05">Na palma da mão</h3>

		            <p>Com a versão para android, temos um acesso rápido e uma interface clara. Agende como lembrete as datas das próximas vacinações, e não perca a data.
	         		</p>
	            </div>

			   </div> <!-- end bgrid -->



				</div> <!-- end bgrid -->

	      </div> <!-- end services-list -->

   	</div> <!-- end services-content -->

   </section> <!-- end services -->





	<!-- contact
   ================================================== -->
   <section id="contact">

      <div class="overlay"></div>

		<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-twelve">

   			<h1>Ficou Interessado?</h1>

   		</div>
   	</div> <!-- end section-intro -->

   	<div class="row contact-content">

   		<div class="col-seven tab-full animate-this">

   			<h5>Nos Envie Uma Menssagem</h5>

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post">

               <div class="form-field">
 					   <input name="contactName" type="text" id="contactName" placeholder="Nome" ng-model="fazendaInteressada.nome" value="" minlength="2" required="">
               </div>

               <div class="row">
                 	<div class="col-six tab-full">
                 		<div class="form-field">
                 			<input name="contactEmail" type="email" id="contactEmail" ng-model="fazendaIteressada.Email" placeholder="Email" value="" required="">
                 		</div>
		            </div>
	            	<div class="col-six tab-full">
	            		<div class="form-field">
	            			<input name="contactSubject" type="text" id="contactSubject" ng-model="fazendaInteressada.Mensagem" placeholder="Nome da Fazenda" value="">
	                  </div>
		            </div>
               </div>

               <div class="form-field">
	              	<textarea name="contactMessage" id="contactMessage" placeholder="Menssagem" rows="10" cols="50" required=""></textarea>
	            </div>

               <div class="form-field">
                  <button class="submitform">Enviar</button>

                  <div id="submit-loader">
                     <div class="text-loader">Enviando...</div>
       			      <div class="s-loader">
							  	<div class="bounce1"></div>
							  	<div class="bounce2"></div>
							  	<div class="bounce3"></div>
							</div>
						</div>
               </div>

      		</form> <!-- end form -->

            <!-- contact-warning -->
            <div id="message-warning"></div>

            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Sua Menssagem foi Enviada, Obrigado!<br>
      		</div>

         </div> <!-- end col-seven -->

         <div class="col-four tab-full contact-info end animate-this">

         	<h5>Informaões de Contato</h5>

         	<div class="cinfo">
	   			<h6>Onde nos char</h6>
	   			<p>
	            	Rua João Albuquerque Santiago<br>
                156, Catolé <br>

	            </p>
	   		</div> <!-- end cinfo -->

	   		<div class="cinfo">
	   			<h6>Envie um email</h6>
	   			<p>
	   				ajudanteveterinario@gmail.com<br>

				   </p>
	   		</div> <!-- end cinfo -->

	   		<div class="cinfo">
	   			<h6>Nos Ligue</h6>
	   			<p>
	   				Calular:(+55) 83 993210394<br>
				  <br>

				   </p>
	   		</div>

         </div> <!-- end cinfo -->

   	</div> <!-- end row contact-content -->

	</section> <!-- end contact -->


	<!-- footer



	      	</div> <!-- end footer-subscribe -->

	      </div> <!-- end row -->

   	</div> <!-- end footer-main -->

   	<div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Infinity 2016.</span>
		         	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
		         </div>
	      	</div>

      	</div>

      </div> <!-- end footer-bottom -->



   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>
